Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
libmox.info
libmox.spec
libtool
.deps/
.libs/
src/Makefile
src/Makefile.in
*.lo
*.la
test/chaincat
test/tst_color
test/tst_db
