Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
libmox.info
libmox.spec
libtool
.deps/
.libs/
src/Makefile
src/Makefile.in
*.lo
*.la
test/chaincat
test/tst_color
test/tst_db

m4/lt~obsolete.m4
m4/libtool.m4
m4/ltversion.m4
m4/ax_prog_doxygen.m4
m4/ltsugar.m4
m4/ltoptions.m4

NEWS
*.tar.gz
src/*.o
test/*.o
Doxyfile
doc/
